.inputBox,
.boxContent {
  width: 100%;
}

.boxContent {
  padding: 0 25px;
}

.inputBox>.field>.control {
  width: 100%;
}

.inputBox>.field>.label {
  /* white-space: nowrap; */
  width: 50%;
}

.total-cost-device {
  width: fit-content;
}